/* header */
.header{
    height: 80px;
}
.header-wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-nav_list{
    display: flex;
    align-items: center;
    gap: 14px;
}
/* end header */
/* banner */
.banner{
    max-width: 100%;
    width: 100%;
    height: 721.01px;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
/* end banner */